.parent{
    min-height:80vh;
    background-image: linear-gradient(75deg, rgb(6 6 6 / 64%) 8%, transparent),
      url("https://images.pexels.com/photos/2347311/pexels-photo-2347311.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-size: cover;
    color: white;
}

.content {
    padding-left: 5%;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  
    padding: 11rem 0;
  }
  .text-content > h1 {
    width: 440px;
    font-size: 38px;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;
    line-height: 55px;
  }
  
  .text-content > h4 {
    font-size: 1.15rem;
    letter-spacing: 0.35px;
    font-weight: lighter;
    font-family: "Raleway", sans-serif;
    margin-bottom: 55px;
  }
  .button {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  .half_text > h1 {
    padding: 20px 0px;
    font-size: 30px;
    font-weight: 600;
  }
  
  .half_text p {
    line-height: 25px;
    font-size: 17px;
    color: #707070;
  }
  
  .half_boxes {
    display: flex;
    gap: 40px;
    width: 75%;
  }
  .box > h2 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding: 0px 0px 15px 0px;
  }
  .box > p {
    font-size: 16px;
    letter-spacing: 1px;
    color: #707070;
  }
  .box span > i {
    color: #f85a40;
    font-size: 35px;
    padding: 25px 0px 10px 0px;
  }

  .side-img{
    width: 100%;
    height: 100%;
  }