<nav class="navbar navbar-expand-lg navbar-dark bg-dark"  >
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink="">
            <span><img class="img-thumbnail rounded" style="width: 10%;height: 10%;" src="https://t3.ftcdn.net/jpg/05/98/78/36/360_F_598783673_gh67plyXbOVO4fxJywAmzsBMNZTsPeoI.jpg" alt=""></span>
            <div>ChefHub</div>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/upload">Upload</a>
                </li>
                <li class="nav-item">
                    <div class="search-box">
                        <button class="btn-search"><mat-icon  fontIcon="search"></mat-icon>
                        </button>
                        <input type="text" class="input-search" placeholder="Type to Search...">
                      </div>
                </li>
            </ul>
        </div>
    </div>
</nav>